{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'posts/home.css' %}">
{% endblock css %}
{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-primary mb-4">My Courses</h1>

    <div class="row">
        {% for post in posts %}
            {% include "posts/carddetails.html" %}
        {% endfor %}
    </div>
<!--    Pagination-->
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4">
    {% if posts.has_previous %}
    <a href =?p={{posts.previous_page_number}} class="btn btn-outline-primary">
        Previous
    </a>
    {%  endif %}
    {% if posts %}
    <a href=?p=1 class="btn btn-outline-primary">
        1
    </a>
    <a href=?p=2 class="btn btn-outline-primary">2</a>
    <a href=?p=3 class="btn btn-outline-primary">3</a>
    <a href=?p=4 class="btn btn-outline-primary">4</a>
    <a href=?p=5 class="btn btn-outline-primary">5</a>
    {% endif %}
    {% if posts.has_next %}
    <a href=?p={{posts.next_page_number}} class="btn btn-outline-primary">Next</a>
    {% endif%}
    </nav>
</div>

{% endblock %}
